In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("50_Startups.csv")

In [6]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [32]:
x=df.drop("Profit",axis=1)
x.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [33]:
y=df["Profit"]
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [34]:
x=pd.get_dummies(x,drop_first=True)

In [35]:
x.head()

   R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0  165349.20       136897.80        471784.10              0               1
1  162597.70       151377.59        443898.53              0               0
2  153441.51       101145.55        407934.54              1               0
3  144372.41       118671.85        383199.62              0               1
4  142107.34        91391.77        366168.42              1               0

In [36]:
from sklearn.model_selection import train_test_split

In [41]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.2)

In [44]:
from sklearn.linear_model import LinearRegression

In [45]:
lr=LinearRegression()

In [46]:
lr.fit(x_train,y_train)

LinearRegression()

In [47]:
y_prediction=lr.predict(x_test)

In [48]:
y_prediction

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230165,  67851.69209676,  98791.73374687,
       113969.43533012, 167921.0656955 ])

In [51]:
from sklearn.metrics import r2_score,mean_squared_error

In [53]:
score=r2_score(y_test,y_prediction)

In [54]:
print("mean_squared_error=",mean_squared_error(y_test,y_prediction))

mean_squared_error= 83502864.03257754

In [58]:
print("root_mean_squared_error=",np.sqrt(mean_squared_error(y_test,y_prediction)))

root_mean_squared_error= 9137.990152794953

In [59]:
score

0.9347068473282424